body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(blue, aqua);
}

.container {
    text-align: center;
}

#click-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#click-button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Задает высоту для контейнера, чтобы оставить место для навигации */
}

/* Стили для навигационной панели */
.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #800000; /* Тёмно-красный цвет фона */
    padding: 10px 0; /* Вертикальный отступ */
}

/* Добавьте это в styles.css */
/* Стили для кнопки "Назад" */
.back-button {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирование кнопки */
    background-color: #800000; /* Тёмно-красный цвет фона */
    padding: 10px 0; /* Вертикальный отступ */
}
